{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% if title %}
      <title>farmer-halisi-{{title}}</title>
    {% else %}
      <title>farmer-halisi</title>
    {% endif %}
    {% block styles %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/home.css'%}">
    {% endblock %}
  </head>
  <body>
    <div class="manu">
      {% include 'farmerz/navbar.html'%}
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="images">
              <img src="{% static 'New fARM PCS/cows_56.jpeg'%}" alt="an image">
              <img src="{% static 'New fARM PCS/images (8).jpeg'%}" alt="an image">
              <img src="{% static 'New fARM PCS/images (10).jpeg'%}" alt="an image">
            </div>
            {% block content %}
            {% endblock %}
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
